<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.getUsername()}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="ADMIN/style.css">
</head>

<body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Laboratury</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/public/projects">Publications</a>
                    </li>
                    
                    <ul class="nav">
                        <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Join</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="public/signin">Sign In</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="public/signup">Sign Up</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" th:text="${#authentication.name}"></a>
                            <ul class="dropdown-menu">
                                <li><form id="myForm" action="/ADMIN/personal_view" method="get">
                                    <input type="hidden" name="username" th:value="${#authentication.name}"/>
                                </form>
                                
                                <a class="dropdown-item" href="#" onclick="document.getElementById('myForm').submit();">Your Account</a></li>
                                <li><hr></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" href="/ADMIN/dashboard">ADMIN Dashboard</a></li>
                                <li sec:authorize="hasRole('ROLE_STUDENT')"><a class="dropdown-item" href="/STUDENT/dashboard">STUDENT Dashboard</a></li>
                                <li sec:authorize="hasRole('ROLE_PROF')"><a class="dropdown-item" href="/PROF/dashboard">PROFESSOR Dashboard</a></li>
                                <li sec:authorize="hasRole('ROLE_DIRECTOR')"><a class="dropdown-item" href="/DIRECTOR/dashboard">DIRECTOR Dashboard</a></li>
                                <li><hr></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    
                    </ul>                        
                    
                    <!--<li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>-->
                </ul>
                <form class="d-flex" role="search" action="/public/search" method="get">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>





        <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center h-100">
                <div class="col col-md-9 col-lg-7 col-xl-5">
                  <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                      <div class="d-flex text-black">
                        <div class="flex-shrink-0">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                            alt="Generic placeholder image" class="img-fluid"
                            style="width: 180px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h5 class="mb-1" th:text="${user.getUsername()}"></h5>
                          <p class="mb-2 pb-1" style="color: #2b2a2a;" th:each="r : ${user.getRoles()}"><samp th:text="${r.getRoleName()}"></samp>, </p>
                          <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                            style="background-color: #efefef;">
                            <div>
                              <p class="small text-muted mb-1">Articles</p>
                              <p class="mb-0">41</p>
                            </div>
                            <div class="px-3">
                              <p class="small text-muted mb-1">Followers</p>
                              <p class="mb-0">976</p>
                            </div>
                            <div>
                              <p class="small text-muted mb-1">Rating</p>
                              <p class="mb-0">8.5</p>
                            </div>
                          </div>
                          <div class="d-flex pt-1">
                            <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                            <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>











    </div>
</body>

</html>